.quantity-selector {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 10px;
  background-color:  #f8f5f2;
  margin-left: 1rem;
}

.qty-btn {
  background: #eee;
  border: none;
  padding: 2px 6px;
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
  border-radius: 4px;
}

.qty-value {
  padding: 0 8px;
  font-size: 15px;
}
